<!-- bloc-1 -->
<div class="bloc l-bloc bgc-white bloc-fill-screen" id="bloc-1">
    <%= render "layouts/nav" %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center hero-bloc-text">
                    發掘靈感
                </h1>
                <h3 class="text-center mg-lg hero-bloc-text-sub">
                    分享您獨一無二的世界
                </h3>
                <div class="text-center">
                    <% if current_user %>
                        <%= link_to  "藝廊", user_galleries_path(current_user), class: "btn-wire btn btn-xl", data: { turbolinks: false }%>
                    <% else %>
                        <%= link_to "註冊", new_registration_path(:user), class: "btn-wire btn btn-xl" %>
                    <% end %>
                </div>
            </div>
        </div>

    </div>
    
    <div class="container fill-bloc-bottom-edge">
        <div class="row">
            <div class="col-sm-12">
            <a id="scroll-hero" class="blocs-hero-btn-dwn"><img src="https://png.icons8.com/ios/50/666666/circled-chevron-down-filled.png"></a>
            </div>
        </div>
    </div>
</div>

<!-- bloc-1 END -->
<div class="bloc l-bloc bgc-white">
    <div class="container bloc-lg" id="gallery_view">
        <%= render "galleries/gallery_view", galleries: @news, title: "最新" %>
    </div>
</div>