<!-- bloc-1 -->
<div class="bloc l-bloc bgc-white bloc-fill-screen" id="bloc-1">
    <%= render "layouts/nav" %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center hero-bloc-text">
                    It's all about the big hero strapline.
                </h1>
                <h3 class="text-center mg-lg hero-bloc-text-sub">
                    But don't forget about your jazzy tag line.
                </h3>
                <div class="text-center">
                    <% if current_user %>
                        <%= link_to  "Gallery", user_galleries_path(current_user), class: "btn-wire btn btn-xl", data: { turbolinks: false }%>
                    <% else %>
                        <%= link_to "Sign up", new_registration_path(:user), class: "btn-wire btn btn-xl" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="container fill-bloc-bottom-edge">
        <div class="row">
            <div class="col-sm-12">
                <%= link_to  "<span class='fa fa-chevron-down'></span>".html_safe , root_path, class: "blocs-hero-btn-dwn", data: { turbolinks: false }%>
            </div>
        </div>
    </div>
</div>

<!-- bloc-1 END -->
