<!-- bloc-10 -->
<div class="bloc l-bloc bgc-white" id="bloc-10">
        <div class="container bloc-lg">
            <% if notice && notice.include?("ERROR") %>
            <%= "<div class='alert alert-danger' role:'alert'>#{notice}</div>".html_safe %>
            <% end %>
            <%= render "form", gallery: @gallery, page_title: "Edit", submit_title: "更新", gpath: user_gallery_path %>
        </div>
</div>
<!-- bloc-10 END -->