<!-- bloc-3 -->
<div class="bloc l-bloc bgc-white" id="bloc-3">
        <div class="container bloc-lg">
            <%= render  "gallery_view", galleries: @galleries, title: "藝廊" %>
        </div>
</div>
<!-- bloc-3 END -->