<!-- bloc-3 -->
<div class="bloc l-bloc bgc-white" id="bloc-3">
        <%= render "layouts/nav" %>
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center mg-md">
                        Gallery
                    </h2>
                    <p class="text-center sub-heading">
                        Just a sample of what we do.
                    </p>
                </div>
            </div>
            <div class="row voffset">
                <div class="col-sm-3">
                    <a href="#" data-lightbox="img/placeholder-image.png" data-caption="Image description" data-gallery-id="gallery-1"><img src="img/placeholder-image-sq.png" class="img-responsive" /></a>
                </div>
                <div class="col-sm-3">
                    <a href="#" data-lightbox="img/placeholder-image.png" data-caption="Image description" data-gallery-id="gallery-1"><img src="img/placeholder-image-sq.png" class="img-responsive" /></a>
                </div>
                <div class="col-sm-3">
                    <a href="#" data-lightbox="img/placeholder-image.png" data-caption="Image description" data-gallery-id="gallery-1"><img src="img/placeholder-image-sq.png" class="img-responsive" /></a>
                </div>
                <div class="col-sm-3">
                    <a href="#" data-lightbox="img/placeholder-image.png" data-caption="Image description" data-gallery-id="gallery-1"><img src="img/placeholder-image-sq.png" class="img-responsive" /></a>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-3 END -->