<!-- bloc-2 -->
<div class="bloc l-bloc bgc-white" id="bloc-2">
    <div class="container bloc-lg">
        <%= render "form", gallery: @gallery, page_title: "上傳", submit_title: "建立" %>
    </div>
</div>
<!-- bloc-2 END -->