<!-- bloc-2 -->
<div class="bloc l-bloc bgc-white" id="bloc-2">
    <%= render "layouts/nav" %>
    <div class="container bloc-lg">
        <% if notice && notice.include?("ERROR") %>
        <%= "<div class='alert alert-danger' role:'alert'>#{notice}</div>".html_safe %>
        <% end %>
        <%= render "form", gallery: @gallery, page_title: "Uplaod", submit_title: "Create" %>
    </div>
</div>
<!-- bloc-2 END -->